#####################################################################
##	                 Fysetc H36 Config
#####################################################################
[mcu H36Can]
canbus_uuid: 5fc80d15f1a8

# IO.0: PA15
# IO.1: PC7
# IO.2: PA8
# IO.3/RGB0: PA10
# IO.4/RGB1: PB1
# IO.0 - IO.5 with level conversion (pull-up), it can be used as 5V/24V level input and output!

# FAN0: PA9
# FAN0_TACH: PC6 # Please make sure the feedback level does not exceed 5V!
# FAN1: PB15
# FAN1_TACH: PB14 # Please make sure the feedback level does not exceed 5V!
# FAN2: PB13
# FAN3: PA5
# FAN3_TACH: PB0 # Please make sure the feedback level does not exceed 5V!

# Heat: PA7
# Thermistor (2.2k pull up): PA6

# Driver_EN: PB7
# Driver_DIR: PB8
# Driver_STEP: PB9
# Driver_UART: PC14
# Driver_DIAG: PC15

# ADXL345
# spi_bus: spi2
# adxl345_cs_pin: PB12
# adxl345_spi_software_sclk_pin: PB10
# adxl345_spi_software_mosi_pin: PB11
# adxl345_spi_software_miso_pin: PB2

# CAN_RX: PD0
# CAN_TX: PD1

# 5V_Monitor: PA0
# 24V_MOnitor: PA4
# Thermistor next to TMC2209 (4.7k pull up) : PA3

# CAN USB switch: PA2
# logic Low = COM to A PORT  CANBUS
# Logic High = COM to B PORT  USB
## SHT BOARD PINS

[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################################################
##	                 Temperature Monitoring
#####################################################################
[temperature_sensor Fysetc_H36]         # EBB_NTC temperature sensor configuration
sensor_type: Generic 3950               # Sensor type
sensor_pin: H36Can:PA3                  # Sensor pin
min_temp: -10
max_temp: 150

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder]
step_pin: H36Can:PB9                 # Step pin
dir_pin: H36Can:PB8                  # Direction pin, "!" indicates logic inversion
enable_pin: !H36Can:PB7              # Enable pin, "!" indicates logic inversion
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16                       # Microsteps setting
## When calibrating the extruder, update the following value
## Assume you request 100mm feed but get 98mm,
## New value = old value x (actual extruded length / target length)
## 22.6789511 is our recommended value
gear_ratio: 50:10                    # Gear ratio
rotation_distance: 22.0726           # Rotation distance
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter

max_extrude_cross_section: 5
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 50.0
max_extrude_only_accel: 1500

heater_pin: H36Can:PA7               # Heater pin
control: pid                         # Control method
pid_Kp=17.944
pid_Ki=0.875
pid_Kd=91.962
#pid_Kp=25.155
#pid_Ki=3.288
#pid_Kd=48.109

min_temp: -20                        # Minimum temperature
max_temp: 350                        # Maximum temperature
min_extrude_temp: 80                 # Minimum extrude temperature
pressure_advance: 0.035              # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.020  # Pressure advance smooth time - default is 0.040
## Nozzle temperature PID calibration command: "PID_CALIBRATE HEATER=extruder TARGET=245"
sensor_type: PT1000                  # Temperature sensor type
sensor_pin: H36Can:PA6               # Sensor pin
pullup_resistor: 2200                # Pull-up resistor value

[tmc2209 extruder]
uart_pin: H36Can:PC14                # UART communication pin
interpolate: true                    # Enable 256 microstep interpolation
run_current: 0.60                    # Running current

#--------------------------------------------------------------------
[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time
hysteresis: 50                       # Tolerance temperature
heating_gain: 2                      # Heating gain


[adxl345]
cs_pin: H36Can:PB12                   # Chip select pin
spi_software_sclk_pin: H36Can:PB10    # SPI clock pin
spi_software_mosi_pin: H36Can:PB11    # SPI master out slave in pin
spi_software_miso_pin: H36Can:PB2    # SPI master in slave out pin
#axes_map: z,-y,x                       # Axis mapping settings
#SHAPER_CALIBRATE
[resonance_tester]                     # Resonance tester conf#iguration
probe_points: 150, 150, 20             # Probe point positions
accel_chip: adxl345                    # Acceleration chip used

   
#####################################################################
#   Fan Control
#####################################################################

##  Part Cooling Fan - FAN0
[multi_pin PCF]
pins: H36Can:PB0, H36Can:PB14

[multi_pin PCF_Enable]
pins: H36Can:PA5, H36Can:PB15

[fan]                       # Part cooling Blowers
pin: multi_pin:PCF          # Fan pin 
enable_pin: multi_pin:PCF_Enable
hardware_pwm: true
off_below: 0.10
kick_start_time: 0.2

[fan_generic CPAP]
###### 7040 CPAP #######
pin: PB0
enable_pin: PB10
max_power: 1
cycle_time: 0.00005
hardware_pwm: true
min_power: 0.12
kick_start_time: 0.01

##  Hotend Fan - FAN1
[heater_fan hotend_fan]          # Hotend fan
pin: H36Can:PA9                  # Hotend fan pin (FAN0)
heater: extruder                 # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
#cycle_time: 0.00003              # Cycle time

tachometer_pin: ^H36Can:PC6
tachometer_ppr: 2
tachometer_poll_interval: 0.0009



#####################################################################
#   Input Shaper
#####################################################################
[input_shaper]
shaper_freq_x: 73.4 #33.1126  # frequency for the X mark of the test model
shaper_freq_y: 49.0 #42.6 #35.5292  # frequency for the Y mark of the test model
shaper_type: mzv


# These sensors are on the toolhead and often controlled by the main printer mcu
#[filament_switch_sensor Extruder]
#switch_pin: ^H36Can:PC7

#[filament_switch_sensor Toolhead]
#switch_pin: ^H36Can:PA15