[mcu sht]     
canbus_uuid: a489555f393e 
# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

## SHT BOARD PINS
[board_pins sht]
mcu: sht
aliases:
aliases_2209:
    EXT_EN=PA15,EXT_STEP=PB4,EXT_DIR=PB3,EXT_UART=PB5,EXT_DIAG=PB6
aliases_endstop:
    LIMIT_0=PA1,LIMIT_1=PA2
aliases_probe: 
    PROBE_0=PB0,PROBE_1=PC15,PROBE_2=PB1
aliases_cnc_fans:
    FAN0=PB10,FAN1=PB11
aliases_thermistors:
    TH0=PA3,PT100=PB12,TC0=PA4
aliases_heaters:
    HE0=PA8
aliases_rgb:
    RGBLED=PB15
aliases_adxl:
    ADXL=PA9

[temperature_sensor toolhead]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: sht:TC0
min_temp: 0
max_temp: 150

[extruder]
step_pin: sht:EXT_STEP
dir_pin: !sht:EXT_DIR
enable_pin: !sht:EXT_EN
#rotation_distance: 5.567019    #Bondtech LGX Lite: default 5.7
rotation_distance: 22.08022572 #22.67895 # VZHextrudort, Mini SHerpa and other BMG based extruders
gear_ratio: 50:10 
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sht:HE0
sensor_pin: sht:TH0
sensor_type: PT1000
pullup_resistor: 1100           # No jumper=4700 ohms for NTC thermistor. Add jumper to set to 1100 ohms for PT1000 thermistor.
min_temp: 10
max_temp: 352 #270
max_power: 1.0
min_extrude_temp: 80
max_extrude_cross_section: 5
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 50.0
max_extrude_only_accel: 1500
control = pid
pid_Kp=22.891
pid_Ki=2.461
pid_Kd=53.222
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.042
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.02

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: sht:EXT_UART
diag_pin: sht:EXT_DIAG
stealthchop_threshold: 0
run_current: 0.61

#[adxl345]
#cs_pin: sht:ADXL
#spi_bus: spi2

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150,150,20  

   
#####################################################################
#   Fan Control
#####################################################################

##  Part Cooling Fan - FAN0
[fan]
pin: sht:FAN0
kick_start_time: 0.2
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
cycle_time: 0.100 # Default 0.010
off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: sht:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0
#tachometer_pin: ^sht:PB1
#tachometer_ppr: 2
#tachometer_poll_interval: 0.0009

#####################################################################
#   Input Shaper
#####################################################################
[input_shaper]
shaper_freq_x: 67.19 #68.8 #33.1126  # frequency for the X mark of the test model
shaper_freq_y: 42.25 #42.6 #35.5292  # frequency for the Y mark of the test model
shaper_type: mzv
