[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    RESPOND MSG="Starting Coarse QGL..."
    _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=10 RETRY_TOLERANCE=1.0 RETRIES=5

    RESPOND MSG="Starting Fine QGL (No Lift)..."
    _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2 RETRY_TOLERANCE=0.0075 RETRIES=5

    G28 Z



####################################################################################
##                   Print control Macros
####################################################################################

[gcode_macro PRINT_START]
gcode:
  {% set target_bed = params.BED|int %}                  # Target bed temperature
  {% set target_extruder = params.EXTRUDER|int %}        # Target nozzle temperature
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}  # Bed center X
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}  # Bed center Y
  {% set chambertemp = params.CHAMBER|default(0)|int %}

  #ED_PRINTING

  SET_GCODE_OFFSET Z=0                                   # Reset Z offset
  G28                                                    # Home all axes
  G90                                                    # Set to absolute positioning

  STATUS_HEATING
  SET_DISPLAY_TEXT MSG="Heating chamber:  {chambertemp}°C"
    {% if printer["temperature_sensor Chamber"].temperature < chambertemp %}                 ; - if chamber is not at temp yet:
        G0 X75 Y301 Z40 F20000                                                               ; move up to prevent overheating toolhead
        G0 Y308 F9000
        G0 X94 F3000
        M190 S{target_bed+10}                                                                ;   wait for bed final temp
        TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={chambertemp}           ;   wait for chamber final temp
    {% endif %}
  
  SET_DISPLAY_TEXT MSG="Heating Bed: {target_bed}°C"     # Display bed heating message
  M104 S150                                              # Preheat extruder to 150c. Don't wait.
  M190 S{target_bed}                                     # Wait for bed to reach target temperature

  SET_DISPLAY_TEXT MSG="Leveling..."                     # Display leveling message
  G0 X150 F3000
  G0 Y300 F9000
  QUAD_GANTRY_LEVEL                                          # Perform QGL
  
  SET_DISPLAY_TEXT MSG="Bed Mesh Calibration"            # Display mesh calibration message
  BED_MESH_CALIBRATE #ADAPTIVE=1                         # Perform bed mesh calibration

  SET_DISPLAY_TEXT MSG="Calibrating Z Offset"            # Display Z offset calibration message
  #KOMB                                                   # Quick nozzle clean before nozzle touch
  CARTOGRAPHER_TOUCH_HOME                                # Calibrate Z offset

  SET_DISPLAY_TEXT MSG="Heating Nozzle: {target_extruder}°C" # Display nozzle heating message
  G0 X75 Y301 Z40 F20000                                                               ; move up to prevent overheating toolhead
  G0 Y308 F9000
  G0 X94 F3000
  M106 S26                                               # Turn fans down to 10%
  M109 S{target_extruder}                                # Heat nozzle to target temperature

  SET_DISPLAY_TEXT MSG="Preparing to Print..."           # Display preparation message
  G0 Z0.6
  G0 X150 F3000
  G0 Y300 F9000                                             
  STATUS_CLEANING
  PRINT_START_PRIME

[gcode_macro PRINT_START_PRIME]
gcode:
  G90
  G0 X300 Y250 Z0.7 F10000                                 # Move to primeline start point  
  G91                                                    # Switch to relative positioning
  G1 E6.5 F3600                                          # de-retract filament from previous print end
  G1 Y-100 E30 F1000                                      # Extrude primeline
  G90                                                    # Switch back to absolute positioning


#--------------------------------------------------------------------
[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    SET_NOZZLE_LEDS_OFF
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_minimum.y + 1} F3600  ; park nozzle at front
    M107                                     ; turn off fan
    M84                                      ; turn off steppers
    M106 S0                                  ; turn off fan
    SET_FAN_SPEED FAN=CPAP SPEED=0
    SET_FAN_SPEED FAN=Bed_Fans SPEED=0
    BED_MESH_CLEAR
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
#--------------------------------------------------------------------
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 
#--------------------------------------------------------------------
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}
#--------------------------------------------------------------------

[gcode_macro CANCEL_PRINT]
# Defines a G-code macro to cancel the actual running print
description = Cancel the actual running print
rename_existing = CANCEL_PRINT_BASE
variable_park = True
gcode = 
    G91                                       # Set to relative positioning
    G0 Z2 F900                                # Lift Z by 2mm
    G1 E-3 F1000                              # Retract filament
    G90                                       # Set to absolute positioning
    G0 X300 Y302 F6000                        # Move out of the way
    _TOOLHEAD_PARK_PAUSE_CANCEL               # Call _TOOLHEAD_PARK_PAUSE_CANCEL macro
    TURN_OFF_HEATERS                          # Turn off all heaters
    CANCEL_PRINT_BASE                         # Call CANCEL_PRINT_BASE to cancel print
    M106 S0                                   # turn off fan
    SET_FAN_SPEED FAN=CPAP SPEED=0.29
    SET_FAN_SPEED FAN=Bed_Fans SPEED=1
    M84                                       # Disable motors
#--------------------------------------------------------------------

####################################################################################
##                   Preheat Macros
####################################################################################
[gcode_macro PREHEAT_ABS]
gcode:
  SET_PIN PIN=Chamber_Lights VALUE=1.0
  STATUS_HEATING
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=115
  SET_FAN_SPEED FAN=CPAP SPEED=0.29
  SET_FAN_SPEED FAN=Bed_Fans SPEED=1
  M106 S77                  ; turn on fan at 30%
  G28                       ; home all
  G90                       ; absolute positioning
  G0 X75 Y301 Z40 F20000                                                               ; move up to prevent overheating toolhead
  G0 Y308 F9000
  G0 X94 F3000

[gcode_macro PREHEAT_PET]
gcode:
  SET_PIN PIN=Chamber_Lights VALUE=1.0
  STATUS_HEATING
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=80
  SET_FAN_SPEED FAN=CPAP SPEED=0.29
  SET_FAN_SPEED FAN=Bed_Fans SPEED=1
  M106 S77                  ; turn on fan at 30%
  G28                       ; home all
  G90                       ; absolute positioning
  G0 X75 Y301 Z40 F20000                                                               ; move up to prevent overheating toolhead
  G0 Y308 F9000
  G0 X94 F3000

####################################################################################
##                   Klipper-Backup Macros
####################################################################################
[gcode_macro update_git]
gcode:
  RUN_SHELL_COMMAND CMD=update_git_script

[delayed_gcode update_git_on_restart]
initial_duration: 1.0
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True