[include mainsail.cfg]
[include goose_purge.cfg]
[include stealthburner_leds.cfg]
[include dw_macros.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes             # Path to the virtual SD card directory
on_error_gcode: CANCEL_PRINT            # G-code to execute on error (defined in CANCEL_PRINT macro)
[display_status]
[pause_resume]
[gcode_arcs]
resolution: 0.1                         # Arc interpolation resolution, handles G2/G3 commands
[exclude_object]                        # Exclude object for cancellation
[print_stats]                           # Enable print statistics
[force_move]
enable_force_move: true                 # Enable force move feature


[mcu]
canbus_uuid: 951fb3ec7b73
canbus_interface: can0

[mcu H36Can]
canbus_uuid: 5fc80d15f1a8
canbus_interface: can0

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 8000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 18000

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:200
endstop_pin: ^H36Can:PA8
position_min: 0
position_endstop: 299.45
position_max: 300.3
homing_speed: 130
homing_retract_dist: 3
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.6
sense_resistor: 0.075
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:200
endstop_pin: PG13
position_min: 0
position_endstop: 308.3
position_max: 309
homing_speed: 130
homing_retract_dist: 3
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.6
sense_resistor: 0.075
stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 1
sense_resistor: 0.110

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 1
sense_resistor: 0.110

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 1
sense_resistor: 0.110

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 1
sense_resistor: 0.110

[mcu cartographer]
canbus_uuid: 534b9421a680

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 23
verbose: no

[bed_mesh]
zero_reference_position: 150, 150 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 20, 23 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 280, 257 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 19, 19
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: -10
max_temp: 115

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1
axes_map: z,-y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

#####################################################################
#   Input Shaper
#####################################################################
[input_shaper]
shaper_freq_x: 103.4
shaper_freq_y: 69.8
shaper_type: ei

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
#  Probe points
points:
   50,25
   50,225
   250,225
   250,25
speed: 350
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

####################################################################################
##                                    Homing Override
####################################################################################
[homing_override]
axes: xyz
set_position_z: 0

gcode:
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set home_x = home_all or 'X' in params %}
    {% set home_y = home_all or 'Y' in params %}
    {% set home_z = home_all or 'Z' in params %}

    G90
    G0 Z10 F1200

    # --- Home X if requested ---
    {% if home_x %}
        G28 X
        G0 X280 F6000
    {% endif %}

    # --- Home Y if requested ---
    {% if home_y %}
        G28 Y
        G0 Y301 F6000
    {% endif %}

    # --- Custom Z homing ---
    {% if home_z %}
        G90
        G0 X150 Y150 F6000
        G28 Z
        G0 Z30 F1200
    {% endif %}

#####################################################################
#   Thermistor definition
#####################################################################
[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder]
step_pin: H36Can:PB9                 # Step pin
dir_pin: H36Can:PB8                  # Direction pin, "!" indicates logic inversion
enable_pin: !H36Can:PB7              # Enable pin, "!" indicates logic inversion
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16                       # Microsteps setting
## When calibrating the extruder, update the following value
## Assume you request 100mm feed but get 98mm,
## New value = old value x (actual extruded length / target length)
## 22.6789511 is our recommended value
gear_ratio: 50:10                    # Gear ratio
rotation_distance: 22.0726           # Rotation distance
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter

max_extrude_cross_section: 5
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 50.0
max_extrude_only_accel: 1500

heater_pin: H36Can:PA7               # Heater pin
control: pid                         # Control method
pid_Kp=21.612
pid_Ki=1.446
pid_Kd=80.774

min_temp: -20                        # Minimum temperature
max_temp: 350                        # Maximum temperature
min_extrude_temp: 80                 # Minimum extrude temperature
pressure_advance: 0.035              # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.020  # Pressure advance smooth time - default is 0.040
sensor_type: PT1000                  # Temperature sensor type
sensor_pin: H36Can:PA6               # Sensor pin
pullup_resistor: 2200                # Pull-up resistor value

[tmc2209 extruder]
uart_pin: H36Can:PC14                # UART communication pin
interpolate: true                    # Enable 256 microstep interpolation
run_current: 0.60                    # Running current
sense_resistor: 0.110

#--------------------------------------------------------------------
[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time
hysteresis: 50                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#[adxl345]
#cs_pin: H36Can:PB12                   # Chip select pin
#spi_software_sclk_pin: H36Can:PB10    # SPI clock pin
#spi_software_mosi_pin: H36Can:PB11    # SPI master out slave in pin
#spi_software_miso_pin: H36Can:PB2    # SPI master in slave out pin
##axes_map: z,-y,x                       # Axis mapping settings
##SHAPER_CALIBRATE
#[resonance_tester]                     # Resonance tester conf#iguration
#probe_points: 150, 150, 20             # Probe point positions
#accel_chip: adxl345                    # Acceleration chip used

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1
min_temp: -15
max_temp: 130
control = pid
pid_kp = 44.190
pid_ki = 1.683
pid_kd = 289.998

#####################################################################
#   Fan Control
#####################################################################

##  Hotend Fan
[heater_fan hotend_fan]          # Hotend fan
pin: H36Can:PA9
heater: extruder
heater_temp: 50.0
tachometer_pin: ^H36Can:PC6
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

##  Part Cooling Fan
[multi_pin PCF]
pins: H36Can:PA5, H36Can:PB15 #H36Can:PB0, H36Can:PB14

#[multi_pin PCF_Enable]
#pins: H36Can:PA5, H36Can:PB15

[fan]
pin: multi_pin:PCF
#enable_pin: multi_pin:PCF_Enable
hardware_pwm: False
off_below: 0.10
kick_start_time: 0.2

##  Bed Fans
[fan_generic Bed_Fans]
pin: PE5
max_power: 1.0
hardware_pwm: False
kick_start_time: 0.4
off_below: 0.1

##  Case Fans
[fan_generic _Case_Fans]
pin: PD12
max_power: 1.0
hardware_pwm: False
kick_start_time: 0.4
off_below: 0.1

[delayed_gcode start_case_fan]
initial_duration: 1.0
gcode:
    SET_FAN_SPEED FAN=_Case_Fans SPEED=0.8

##  Stepper Driver Cooling Fans
[controller_fan _Stepper_Fans]
pin: PD14
max_power: 1.0
hardware_pwm: False
kick_start_time: 0.4
off_below: 0.1
stepper: stepper_x

##  7040 CPAP
[fan_generic CPAP]
pin: PB0
enable_pin: PB10
max_power: 1
cycle_time: 0.00004
hardware_pwm: true
off_below: 0.12
kick_start_time: 0.01

#####################################################################
#   Lighting
#####################################################################
[output_pin Chamber_Lights]
pin: PD15
pwm: True
value: 0
hardware_pwm: True

[delayed_gcode logl_LED_on]
initial_duration: 1.0
gcode:
    _set_sb_leds_by_name leds="logo" color="cleaning" transmit=1


#####################################################################
##	                 Temperature Monitoring
#####################################################################
[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: -10
max_temp: 100

[temperature_sensor Octopus_1.1]
sensor_type: temperature_mcu
min_temp: -10
max_temp: 100

[temperature_sensor Fysetc_H36]         # EBB_NTC temperature sensor configuration
sensor_type: Generic 3950               # Sensor type
sensor_pin: H36Can:PA3                  # Sensor pin
min_temp: -10
max_temp: 150

#   Chamber Thermisters
[temperature_sensor Chamber_Rear]
sensor_type: Trianglelab NTC100K B3950 #Generic 3950
sensor_pin: PF5
min_temp: -10
max_temp: 100
gcode_id: C

[temperature_sensor Chamber_Front]
sensor_type: PT1000
pullup_resistor: 4700
sensor_pin: PF4
min_temp: -10
max_temp: 100
gcode_id: D

[temperature_sensor Chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor Chamber_Rear, temperature_sensor Chamber_Front
combination_method: mean
maximum_deviation: 999.9

#####################################################################
##	                 Klipper Shake&Tune plugin
#####################################################################
[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 16
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 16
max_freq: 200
dpi: 300

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4974942581330362,1.9703488694242453,0.8592921202485555,0.40108205246743833,0.3246748844407728,0.4309186893501949,-0.08615685285334602,-0.3562086563903504,0.20668715276216526,0.2566258377467439
#*# domain = 3.2180363722108486e-07,3.35572250797008e-07
#*# z_offset = 0
#*# reference_temperature = 20.23
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 792
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
